/*Este elemento nos permite darle estilo al componete mismo en el que se aplica*/
:host{
    background-color: rgb(41, 212, 212);
    display: block;
    font-size: 28px;
    
}
:host(.dark){
    background-color: rgb(30, 36, 36);
    display: block;
    font-size: 14px;
    
}
:host-context(.dark){
    background-color: rgb(30, 36, 36);
    display: block;
    font-size: 14px;
    
}
.texto{
    color: rgb(238, 52, 167);
}