<p class="texto">{{text}}</p>
<button (click)="handleClick()" *ngIf="disabled">Habitar input</button>
<button (click)="handleClick()" *ngIf="!disabled">Desabilitar input</button>

<button (click)="setDarkMode()">Dark Mode</button>
<button (click)="setLightMode()">Light Mode</button>

<input type="text" [disabled]="disabled">




 <p>{{birthday | date}}</p>
 <p>{{amount | currency: 'EUR'}}</p>
 <!--li *ngFor="let foodlist of allData | json">
    {{foodlist}}
</li!-->