<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>

<!--app-dashboard></app-dashboard-->
<!--hero component-->
<!--app-heroes></app-heroes-->


<!--Host context css-->
<!--div class="dark">
    <app-component-prueba></app-component-prueba>
</div-->
<!--Host css-->
<!--app-component-prueba></app-component-prueba-->

<router-outlet></router-outlet>
