
:host{
    background-color: rgb(41, 212, 212);
    display: grid;
    width: 100%;
    height: 50vh;
    place-items: center;
    font-size: 28px;
    
    
}

:host(.dashboard){
    background-color: rgb(230, 41, 177);
    display: grid;
    font-size: 14px;
}