
<div *ngIf="show; else templateName">
    <h2>{{person.name}}</h2>
    <input type="text" [disabled]="disabled" [(ngModel)]="person.name" placeholder="name">
    <div> 
        <button (click)="showMoreEvent()">Mostrar más contenido</button>
        <button (click)="clickEvent()">Habilitar input</button>
    </div>

    <div *ngIf="showMore">
        <p>dashboard works!</p>
    </div>
</div>

<ng-template #templateName>
    <h2>No hay contenido</h2>
</ng-template>
<div>
    <button (click)="showBlock()">Mostrar contenido</button>
    <button (click)="setModeColor()">Mode Color</button>
</div>