<!-- enlazando de componete-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

        <!-- Display a selection list -->
        
          <h2>My Heroes</h2>
          <ul class="heroes">
            <!-- *ngfor -->
            <li *ngFor="let hero of heroes">
              <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
              </button>
            </li>
          </ul>
            
            
         
           
        